/nbproject/private/

nbproject

*/bjs-watch/node_modules/chokidar/*

*/colors/*

*/json-nice/*

*.log


*/bjs-command/flow-cmd-transport/node_modules/*
*/bjs-command/node_modules/*

*/bjs-command/flow-cmd-uglify/node_modules/*
*/bjs-command/flow-css-minify/node_modules/*


*/bjs-command/plugins/node_modules/*
*/bjs-command/node_modules/grunt/*